* {
  margin: 0;
    padding: 0
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: white;
  /* placeholder color for text visibility in initial page setup */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.content-holder {
  display: grid;
  grid-template-columns: 1fr 4fr;

  height: 100vh;
  width: 100vw;
}

.nav {
  background-color: palevioletred;
  /* placeholder color for site part distinction */
  display: grid;
}

.nav > div, .header-menu > div {
  background-color: black;
  /* placeholder color for site part distinction */
}

.nav > div {
  height: fit-content;
  display: grid;
  gap: 5rem;
}

.nav > div > div{
  background-color: red;
  /* placeholder rule for site part distinction, can be removed later */
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header-menu {
  background-color: yellow;
  /* placeholder color for site part distinction */ 
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 5rem;
}

.main-page {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.content {
  background-color: purple;
  /* placeholder color for site part distinction */
  
}

.information {
  background-color: aqua;
  /* placeholder color for site part distinction */
  
}
