* {
  margin: 0;
    padding: 0
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: white;
  /* placeholder color for text visibility in initial page setup */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.content-holder {
  display: grid;
  grid-template-columns: 1fr 4fr;

  height: 100vh;
  width: 100vw;
}

.nav {
  background-color: palevioletred;
  /* placeholder color for site part distinction */
  display: grid;
  grid-template-rows: 3rem 9rem 4.5rem; 
  gap: 5rem;
  place-items: start;
}

.nav > div {
  background-color: black;
  /* placeholder color for site part distinction */
  height: fit-content;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header-menu {
  background-color: yellow;
  /* placeholder color for site part distinction */ 
}

.main-page {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.content {
  background-color: purple;
  /* placeholder color for site part distinction */
  
}

.information {
  background-color: aqua;
  /* placeholder color for site part distinction */
  
}
