@font-face {
  font-family: "Urbanist";
  src: 
      url("./font-assets/Urbanist/Urbanist-Regular.woff2") format("woff2"),
      url("./font-assets/Urbanist/Urbanist-Regular.woff") format("woff");

  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: 
      url("./font-assets/Urbanist/Urbanist-Italic.woff2") format("woff2"),
      url("./font-assets/Urbanist/Urbanist-Italic.woff") format("woff");
  font-style: italic; 
}

:root {
  --img-size: 2rem;
  --small-pfp: 3rem;
  --big-pfp: 6rem;

  --title-font-size: 1.8rem;
  --sub-title-font-size: 1.4rem;

  --header-menu-upper: 4rem;
  --header-menu-lower: 8rem;
  --header-menu-gap: 1rem;
  --full-header-height: calc(var(--header-menu-upper) + var(--header-menu-gap) + var(--header-menu-lower));

  --light-text: rgb(90, 86, 78);
  --dark-text: rgb(50, 47, 42);
  --link-text: rgb(123, 98, 110);

/* --gray-700: rgb(90, 86, 78);   secondary text
--gray-800: rgb(68, 64, 58);   primary text
--gray-900: rgb(50, 47, 42);   emphasis / icons */

  --accent-color: rgb(255, 192, 203);
  --bright-accent-color: rgb(165, 56, 96);
  --background-color: rgb(255, 255, 238);
  --card-background: rgb(245, 247, 250);
  --warm-light-gray: rgb(235, 232, 224);
  --warm-gray: rgb(200, 196, 187);

  --progress-bar-background: rgb(220, 216, 207);
  --progress-bar-normal: rgb(188, 110, 132);
  --grade-status-good: rgb(94, 142, 120);
  --grade-status-warning: rgb(201, 138, 61);
  --grade-status-bad: rgb(170, 64, 64);

}

* {
  margin: 0;
  padding: 0
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  max-height: 100vh;
}

body {
  line-height: 1.5;
  font-family: "Urbanist";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a:hover {
  text-decoration: none;
}

.content-holder {
  display: grid;
  grid-template-columns: 1fr 4fr;

  height: 100%;
  width: 100%;
}

.nav-main {
  color: var(--dark-text);
  background-color: var(--accent-color);
  display: grid;
}

.nav-main > div {
  height: fit-content;
  display: grid;
  gap: 4rem;

  position: sticky;
  top: 0px
}

.nav-item {
  display: grid;
  grid-template-columns: var(--img-size) 1fr;
  gap: 1.3rem;
  padding-left: 1rem;

  justify-items: start;
  align-items: center;

  font-size: var(--title-font-size);
}

.nav-item + .nav-item {
  padding-top: 1rem;
}

.nav-item img[src*="message.svg"] {
  transform: scaleX(-1);
}

.dashboard > .nav-item{
  font-size: 2.4rem;
  grid-template-columns: 4.5rem 1fr;
  gap: 1.2rem;
  padding-right: 1rem;
}

.main-content {
  display: grid;
  grid-template-rows: calc(var(--full-header-height) + 1rem) 1fr;
}

.header-menu {
  display: grid;
  grid-template-rows: var(--header-menu-upper) var(--header-menu-lower);
  gap: var(--header-menu-gap);
  padding: 0rem 3rem 1rem 3rem;
  height: var(--full-header-height) + 1rem;

  background-color: var(--card-background);
  color: var(--dark-text);
}

.upper-header {
  display: grid;
  grid-template-columns: 7fr 2.5fr;
  height: var(--header-menu-upper);
}

input[type='search'] {
  width: 60%;
  height: 2.5rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  border: none;
  border-radius: 15px / 25px;

  background-color: var(--warm-light-gray);
}

input[type='search']:focus {
  outline: none;
}

.search-corner button {
  background-image: url(./image-assets/icons/magnify.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 2.5rem;
  width: 3rem;
  border: none;
  border-radius: 0 15px 15px 0 / 0 25px 25px 0;

  position: absolute;
  margin-left: -48px;
  z-index: 2;

  background-color: var(--accent-color);
  align-self: center;
}

.search-corner button:hover {
  background-color: var(--bright-accent-color);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search-corner {
  display: grid;
  grid-template-columns: var(--img-size) 1fr;
  gap: 1.5rem;

  justify-content: start;
  align-items: center;
}

.profile-corner {
  display: grid;
  grid-template-columns: var(--img-size) var(--small-pfp) 1fr;
  gap: 1.5rem;

  justify-content: end;
  align-items: center;

  font-size: var(--sub-title-font-size);
}

.header-menu img {
  height: var(--img-size);
}

#small-profile-picture {
  height: var(--small-pfp);
  border-radius: 50%;
}

#profile-picture{
  height: var(--big-pfp);
  border-radius: 50%;
}

.lower-header button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 15px;

  padding: 0.25rem;
}

.lower-header  button:hover {
  background-color: var(--bright-accent-color);
}

.header-menu button span {
  display: none;
}

.lower-header {
  display: grid;
  height: var(--header-menu-lower);
  grid-template-columns: repeat(2, 1fr);
}

.greeting {
  display: grid;
  grid-template-columns: var(--big-pfp) 1fr;
  align-items: center;
  gap: 1.5rem;
}

#username {
  font-weight: bold;
  font-size: var(--title-font-size);
}

.schedule-reminder {
  display: grid;
  align-content: center;
  justify-content: center;

  gap: 1rem;
  overflow: visible;
}

.schedule-reminder div:nth-child(1) {
  font-weight: bold;
}

.lesson-notice {
  display: grid;
  grid-template-columns: 4rem 20rem 5rem;
  gap: 1em;

  align-items: center;
}

.time {
  justify-self: end;
}

.main-page {
  display: grid;
  grid-template-columns: 7fr 2fr;
}

.content {
  background-color: var(--background-color);
  padding: 0 3rem;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2.5rem;
}

.lesson-card {
  display: grid;
  grid-template-rows: 4rem 1fr 0.5fr 0.5fr;
}

.lesson-card.general div.card-background {
  background-image: url("./image-assets/general.webp");
}

.lesson-card.math div.card-background {
  background-image: url("./image-assets/math.webp");
}

.lesson-card.programming div.card-background {
  background-image: url("./image-assets/programming.webp");
}

.lesson-card.general div.card-background,
.lesson-card.math div.card-background,
.lesson-card.programming div.card-background {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: blur(1px) saturate(70%);
}

.lesson-card .card-title, .lesson-card .card-status {
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}

.lesson-card div.card-title {
  margin-top: 1rem;
  font-size: var(--sub-title-font-size);
  color: var(--dark-text);
}

.lesson-card .card-status {
  margin-top: 0.5rem;
}

.lesson-card progress {
  align-self: self-end;
  width: 100%;

  border-radius: 0px;
}

.lesson-card progress {
accent-color: var(--progress-bar-normal);
background-color: var(--progress-bar-background);
}

/* set the background color for progress */
.lesson-card progress::-webkit-progress-bar {
  background-color: var(--progress-bar-background);
}

/* set the progress value color */
.lesson-card progress::-webkit-progress-value {
  background-color: var(--progress-bar-normal);
}

/* set the progress value color for Firefox */
.lesson-card progress::-moz-progress-bar {
  background-color: var(--progress-bar-normal);
}

.card-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30%;
}

.card-status div:nth-child(2) {
  justify-self: end;
}

.information {
  background-color: var(--background-color);
  padding-right: 3rem;
}

.information a {
  color: var(--link-text)
}

.lesson-card, .progress, .deadlines, .announcements, .noticeboard {
  border-radius: 10px / 10px;
  background-color: var(--card-background);
  overflow: hidden;
  color: var(--light-text);
}

.section-title, .information {
  padding-top: 1.5rem;
}

.section-title, .info-title {
  color: var(--dark-text);
  font-weight: bold;
  font-size: var(--sub-title-font-size);

  padding-bottom: 0.5rem;
}

.info-title + div {
  margin-bottom: 2rem;
}

.progress, .deadlines, .announcements, .noticeboard {
  padding: 2.5rem 1.5rem;
}

.info-card-title {
  font-weight: bold;
  color: var(--dark-text)
}

meter {
  height: 1rem;
  width: 100%;
  border-radius: 0px;
}

.progress meter::-webkit-meter-bar {
  background: none;
  background-color: var(--progress-bar-background);
}

.progress meter::-webkit-meter-optimum-value {
  background: var(--grade-status-good);
}

.progress meter::-webkit-meter-suboptimum-value {
  background: var(--grade-status-warning);
}

.progress meter::-webkit-meter-even-less-good-value{
  background: var(--grade-status-bad);
}

.announcement-card div + div {
  padding-top: 0.5rem;
}

div.progress-card + div.progress-card,
div.deadline-card + div.deadline-card,
div.announcement-card + div.announcement-card,
.noticeboard div + div{
  border-top: 1px var(--warm-gray) solid;
  padding-top: 1.5rem;
}

div.progress-card:not(:last-child),
div.deadline-card:not(:last-child),
div.announcement-card:not(:last-child),
.noticeboard div:not(:last-child) {
  padding-bottom: 1.5rem;
}

a::before {
  content: "";
  background-size: 100% 100%;
  display: inline-block;

  height: 25px;
  width: 25px;

  position: relative;
  top: 5px;
}

a.event ~ a::after{
  content: "";
  background-size: 100% 100%;
  display: inline-block;

  height: 25px;
  width: 25px;

  position: relative;
  top: 5px;
}

a::after {
  margin-left: 5px;
}

a::before {
  margin-right: 5px;
}

a.task-deadline::before {
  background-image: url("./image-assets/icons/file-alert.svg");
}

a.maintenance::before {
  background-image:url("./image-assets/icons/wrench-clock.svg");
}

a.event::before {
  background-image:url("./image-assets/icons/party-popper.svg");
}

a#halloween::after {
  background-image:url("./image-assets/icons/halloween.svg");
}

a.ttrpg::before, a.theater::after  {
  background-image:url("./image-assets/icons/dice-6.svg");
}

a.robotics::before, a.theater::after  {
  background-image:url("./image-assets/icons/robot-excited.svg");
}

a.theater::before, a.theater::after {
  background-image:url("./image-assets/icons/drama-masks.svg");
}

a.event ~ a::before {
  content: none;
}