@font-face {
  font-family: "Urbanist";
  src: 
      url("./font-assets/Urbanist/Urbanist-Regular.woff2") format("woff2"),
      url("./font-assets/Urbanist/Urbanist-Regular.woff") format("woff");

  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: 
      url("./font-assets/Urbanist/Urbanist-Italic.woff2") format("woff2"),
      url("./font-assets/Urbanist/Urbanist-Italic.woff") format("woff");
  font-style: italic; 
}

:root {
  --img-size: 2rem;
  --small-pfp: 3rem;
  --big-pfp: 6rem;
}

* {
  margin: 0;
  padding: 0
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  max-height: 100vh;
}

body {
  line-height: 1.5;
  color: white;
  /* placeholder color for text visibility in initial page setup */
  font-family: "Urbanist";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.content-holder {
  display: grid;
  grid-template-columns: 1fr 4fr;

  height: 100%;
  width: 100%;
}

.nav-main {
  background-color: palevioletred;
  /* placeholder color for site part distinction */
  display: grid;
}

.nav-main > div, .header-menu > div {
  background-color: pink;
  /* placeholder color for site part distinction */
}

.nav-main > div {
  height: fit-content;
  display: grid;
  gap: 5rem;

  position: sticky;
  top: 0px
}

.nav-main > div > div{
  background-color: red;
  /* placeholder rule for site part distinction, can be removed later */
}

.nav-item {
  display: grid;
  grid-template-columns: var(--img-size) 1fr;
  gap: 1.3rem;
  padding-left: 1rem;

  justify-items: start;
  align-items: center;

  font-size: 1.8rem;
}

.nav-item + .nav-item {
  padding-top: 1rem;
}

.nav-item img[src*="message.svg"] {
  transform: scaleX(-1);
}

.dashboard > .nav-item{
  font-size: 2.4rem;
  grid-template-columns: 4.5rem 1fr;
  gap: 1.2rem;
  padding-right: 1rem;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header-menu {
  background-color: yellow;
  /* placeholder color for site part distinction */ 
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 3rem;
  padding: 0 3rem;
}

.upper-header {
  display: grid;
  grid-template-columns: 7fr 2.5fr;
}

input[type='search'] {
  width: 60%;
  height: 2.5rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  border: none;
  border-radius: 15px / 25px;
}

.search-corner button {
  background-image: url(./image-assets/icons/magnify.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-position: 50% 50%;
  height: 2.5rem;
  width: 3rem;
  border: none;
  border-radius: 0 15px 15px 0 / 0 25px 25px 0;

  position: absolute;
  margin-left: -47px;
  z-index: 2;
}

.search-corner button:hover {
  background-color: pink;
  /* placeholder color, replace with one that will fit site design */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search-corner {
  display: grid;
  grid-template-columns: var(--img-size) 1fr;
  gap: 1.5rem;

  justify-content: start;
  align-items: center;
}

.profile-corner {
  display: grid;
  grid-template-columns: var(--img-size) var(--small-pfp) 1fr;
  gap: 1.5rem;

  justify-content: end;
  align-items: center;

  font-size: 1.4rem
}

.header-menu img {
  height: var(--img-size);
}

#small-profile-picture {
  height: var(--small-pfp);
  border-radius: 50%;
}

#profile-picture{
  height: var(--big-pfp);
  border-radius: 50%;
}

.header-menu button span {
  display: none;
}

.lower-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.greeting {
  display: grid;
  grid-template-columns: var(--big-pfp) 1fr;
  align-items: center;
  gap: 1.5rem;
}

.lesson-notice {
  display: grid;
  grid-template-columns: 4rem 20rem 5rem;
  gap: 1em;

  align-items: center;
}

.time {
  justify-self: end;
}

.main-page {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.content {
  background-color: purple;
  /* placeholder color for site part distinction */
  padding: 0 3rem;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.lesson-card {
  display: grid;
  grid-template-rows: 10rem 1fr 0.5fr 0.5fr;

  width: 18rem;
}

.lesson-card.general div.card-background {
  background-image: url("./image-assets/general.webp");
}

.lesson-card.math div.card-background {
  background-image: url("./image-assets/math.webp");
}

.lesson-card.programming div.card-background {
  background-image: url("./image-assets/programming.webp");
}

.lesson-card.general div.card-background,
.lesson-card.math div.card-background,
.lesson-card.programming div.card-background {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 18rem;
}

.lesson-card div.card-title {
  font-size: 1.4rem;
}

.lesson-card progress {
  align-self: self-end;
  width: 100%;

  border-radius: 0px;
}

.card-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30%;
}

.card-status div:nth-child(2) {
  justify-self: end;
}

.information {
  background-color: aqua;
  /* placeholder color for site part distinction */
  padding-right: 3rem;
}

.lesson-card, .progress, .deadlines, .announcements, .noticeboard {
  border-radius: 25px / 25px;
  background-color: aliceblue;
  overflow: hidden;
}

.info-title + div {
 margin-bottom: 2rem;
}


