@font-face {
  font-family: "Urbanist";
  src: 
      url("./font-assets/Urbanist/Urbanist-Regular.woff2") format("woff2"),
      url("./font-assets/Urbanist/Urbanist-Regular.woff") format("woff");

  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: 
      url("./font-assets/Urbanist/Urbanist-Italic.woff2") format("woff2"),
      url("./font-assets/Urbanist/Urbanist-Italic.woff") format("woff");
  font-style: italic; 
}

* {
  margin: 0;
  padding: 0
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  max-height: 100vh;
}

body {
  line-height: 1.5;
  color: white;
  /* placeholder color for text visibility in initial page setup */
  font-family: "Urbanist";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.content-holder {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.nav-main {
  background-color: palevioletred;
  /* placeholder color for site part distinction */
  display: grid;
}

.nav-main > div, .header-menu > div {
  background-color: pink;
  /* placeholder color for site part distinction */
}

.nav-main > div {
  height: fit-content;
  display: grid;
  gap: 5rem;

  position: sticky;
  top: 0px
}

.nav-main > div > div{
  background-color: red;
  /* placeholder rule for site part distinction, can be removed later */
}

.nav-item {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 1.3rem;
  padding-left: 1rem;

  justify-items: start;
  align-items: center;

  font-size: 1.8rem;
}

.nav-item + .nav-item {
  padding-top: 1rem;
}

.nav-item img[src*="message.svg"] {
  transform: scaleX(-1);
}

.dashboard > .nav-item{
  font-size: 2.4rem;
  grid-template-columns: 4.5rem 1fr;
  gap: 1.2rem;
  padding-right: 1rem;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header-menu {
  background-color: yellow;
  /* placeholder color for site part distinction */ 
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 5rem;
}

.header-menu > div {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.profile-corner {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

.header-menu img {
  height: 2rem;
}

#small-profile-picture {
  height: 3rem;
  border-radius: 50%;
}

#profile-picture{
  height: 6rem;
  border-radius: 50%;
}

.header-menu button {
  background-image: url(./image-assets/icons/magnify.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-position: 50% 50%;
  height: 2rem;
  width: 2rem;
  border: none;
}

.header-menu button:hover {
  background-color: pink;
  /* placeholder color, replace with one that will fit site design */
}

.header-menu button span {
  display: none;
}

.main-page {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.content {
  background-color: purple;
  /* placeholder color for site part distinction */
  
}

.information {
  background-color: aqua;
  /* placeholder color for site part distinction */
  
}


