@font-face {
  font-family: "Urabnist";
  src: url("") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Urabnist";
  src: url("") format("woff2");
  font-style: italic; 
}

* {
  margin: 0;
    padding: 0
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: white;
  /* placeholder color for text visibility in initial page setup */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.content-holder {
  display: grid;
  grid-template-columns: 1fr 4fr;

  height: 100vh;
  width: 100vw;
}

.nav-main {
  background-color: palevioletred;
  /* placeholder color for site part distinction */
  display: grid;
  font-size: 2rem;
}

.nav-main > div, .header-menu > div {
  background-color: black;
  /* placeholder color for site part distinction */
}

.nav-main > div {
  height: fit-content;
  display: grid;
  gap: 5rem;
}

.nav-main > div > div{
  background-color: red;
  /* placeholder rule for site part distinction, can be removed later */
}

.nav-item {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 1.5rem;
  padding-left: 1rem;

  justify-items: start;
  align-items: center;
}

.nav-item + .nav-item {
  padding-top: 1rem;
}

.nav-item img[src*="message.svg"] {
  transform: scaleX(-1);
}

.dashboard > .nav-item{
  font-size: 2.6rem;
  grid-template-columns: 5rem 1fr;
  gap: 1.2rem;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header-menu {
  background-color: yellow;
  /* placeholder color for site part distinction */ 
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 5rem;
}

.header-menu img {
  height: 8rem;
  border-radius: 50%;
}

.main-page {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.content {
  background-color: purple;
  /* placeholder color for site part distinction */
  
}

.information {
  background-color: aqua;
  /* placeholder color for site part distinction */
  
}


