* {
    margin: 0;
    padding: 0
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.content-holder {
    display: grid;
    grid-template-columns: 1fr 4fr;

    height: 100vh;
    width: 100vw;
}

.nav {
    background-color: palevioletred;
    /* placeholder color for site part distinction */
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header-menu {
    background-color: yellow;
    /* placeholder color for site part distinction */ 
}

.main-page {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.information {
    background-color: aqua;
}
